.btn{
    display: block;
    width:50;
    cursor: pointer;
    border-radius: .5rem;
    margin-top:1rem;
    font-size:1.7rem;
    padding:1rem 3rem;
    background:var(--green);
    color:var(--white);
    text-align:center;
}

.btn:hover{
    background:var(--black);
}