{% extends 'homepage.html' %}
{% block content %}
<div class="container">
    <div class="row">
        {% for i in item_data %}
        <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
                <!-- Displaying the image -->
                <img class="card-img-top" src="{{ url_for('static', filename=i[0]+'.jpg') }}" alt="{{ i[1] }}" height="200px">
                <div class="card-body">
                    <!-- Displaying product details -->
                    <h5 class="card-title">{{ i[1] }}</h5>
                    <p class="card-text">Category: {{ i[3] }}</p>
                    <p class="card-text">Price: ₹{{ i[4] }}</p>
                    <p class="card-text">Available Stock: {{ i[2] }}</p>
                    <!-- Add to Cart button -->
                    <a href="{{ url_for('addcart', itemid=i[0], name=i[1], category=i[3], price=i[4], quantity=i[2]) }}" class="btn btn-primary">
                        Add to Cart
                    </a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
