<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{url_for('static',filename='addcategory.css')}}">
</head>
<body>
    <form method="POST" enctype="multipart/form-data">
        <input name="name" placeholder="Enter item name" type="text" required>
        <input name="desc" placeholder="Enter item Description" type="text" required>
        <input name="qty" placeholder="Enter item Quantity" type="text" required>
        <select name="category" id="" required>
            <option value="electronics">electronics</option>
            <option value="grocery">grocery</option>
            <option value="fashion">fashion</option>
            <option value="home">home</option>
        </select>
        <input name="price" placeholder="Price" type="text" required>
        <input type="file" name="image" required>
        <button type="submit">Add item</button>
    </form>
</body>
</html>