<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename='style.css')}}">
   
</head>
<body>
    <h1>REGISTER USER</h1>
    <form method="POST" action="">
       <input name="username" type="text" placeholder="username" id="">
        <input name="mobile" type="text" placeholder="Mobile" id="">
        <input name="email" type="text" placeholder="Email" id="">
        <input name="address" type="text" placeholder="Address" id="">
        <input name="password" type="text" placeholder="Password" id="">
        <button type="submit">Register</button>
    </form>
</body>
</html>